In [25]:
!pip install fredapi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fredapi in /usr/local/lib/python3.7/dist-packages (0.5.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fredapi) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->fredapi) (1.15.0)

In [26]:
import pandas as pd
from fredapi import Fred
fred = Fred(api_key='a84c4cbadbdb06b199e7a0d3483b5610')

In [27]:
ids=['RPI',
 'INDPRO',
 'CE16OV', 
 'UNRATE', 
 'PAYEMS', 
 'USGOOD', 
 'USTPU',
 'HOUST', 
 'PERMIT', 
 'DPCERA3M086SBEA', 
 'CMRMTSPL', 
 'RETAIL', 
 'AMTMTI',
 'AMTMNO',  
 'ACOGNO',
 'AMDMUO',
 'BUSINV',
 'ISRATIO',
 'M1SL',
 'M2SL',
 'TOTRESNS',
 'BUSLOANS',
 'REALLN',
 'DTCTHFNM',
 'FEDFUNDS',
 'TB3MS',
 'TB6MS',
 'GS1',
 'GS5', 
 'GS10',
 'AAA',
 'TB3SMFFM',
 'T1YFFM',
 'AAAFFM',
 'TWEXAFEGSMTH',
 'EXSZUS',
 'EXCAUS',
 'EXUSUK',
 'WPSFD49207',
 'WPSID61',
 'OILPRICE',
 'CPIAUCSL']

Macroeconomic indicators used:
1. Output and Income:
a. RPI Real Personal Income

b. INDPRO IP Index

2. Labor Market
a. CE16OV Civilian Employment

b. UNRATE Civilian Unemployment Rate

c. PAYEMS All Employees: Total nonfarm

d. USGOOD All Employees: Goods-Producing Industries

e. USTPU All Employees: Trade, Transportation & Utilities

3. Real Estate
a. HOUST Housing Starts: Total New Privately Owned

b. PERMIT New Private Housing Permits (SAAR)

4. Consumption and Expenditures
a. DPCERA3M086SBEA Real personal consumption expenditures

b. CMRMTSPL Real Manu. and Trade Industries Sales

c. RETAIL Retail and Food Services Sales

d. AMTMNO Manufacturers' New Orders: Total Manufacturing

e. AMTMTI Manufacturers' Total Inventories: Total Manufacturing

f. ACOGNO New Orders for Consumer Goods

g. AMDMUO Unfilled Orders for Durable Goods

h. BUSINV Total Business Inventories

i. ISRATIO Total Business: Inventories to Sales Ratio

5. Money and Credit
a. M1SL M1 Money Stock

b. M2SL M2 Money Stock

c. TOTRESNS Total Reserves of Depository Institutions

d. BUSLOANS Commercial and Industrial Loans

e. REALLN Real Estate Loans at All Commercial Banks

f. DTCTHFNM Total Consumer Loans and Leases Outstanding

6. Interest and Exchange Rates
a. FEDFUNDS Effective Federal Funds Rate

b. TB3MS 3-Month Treasury Bill

c. TB6MS 6-Month Treasury Bill

d. GS1 1-Year Treasury Rate

e. GS5 5-Year Treasury Rate

f. GS10 10-Year Treasury Rate

g. AAA Moody’s Seasoned Aaa Corporate Bond Yield

h. TB3SMFFM 3-Month Treasury C Minus FEDFUNDS

i. T1YFFM 1-Year Treasury C Minus FEDFUNDS

j. AAAFFM Moody’s Aaa Corporate Bond Minus FEDFUNDS

k. TWEXAFEGSMTHx Trade Weighted U.S. Dollar Index

l. EXSZUSx Switzerland / U.S. Foreign Exchange Rate

l. EXCAUSx Canada / U.S. Foreign Exchange Rate

m. EXUSUKx U.S. / U.K. Foreign Exchange Rate

7. Prices
a. WPSFD49207 PPI: Finished Goods

b. WPSID61 PPI: Intermediate Materials

c. OILPRICEx Crude Oil, spliced WTI and Cushing

d. NAPMPRI ISM Manufacturing: Prices Index

e. CPIAUCSL CPI : All Items

8. Stock Market
a. S&P 500 S&P’s Common Stock Price Index: Composite

b. S&P Dividend yield

c. NASDAQ Composite Index

d. S&P P/E ratio

e. Gold ETF

In [28]:
df=pd.DataFrame()
for series_name in ids:
   # print(series_name)
    series_data = fred.get_series(series_name)
    df[series_name]=series_data

In [29]:
df

,RPI,INDPRO,CE16OV,UNRATE,PAYEMS,USGOOD,USTPU,HOUST,PERMIT,DPCERA3M086SBEA,...,T1YFFM,AAAFFM,TWEXAFEGSMTH,EXSZUS,EXCAUS,EXUSUK,WPSFD49207,WPSID61,OILPRICE,CPIAUCSL
1959-01-01,2442.158,22.0151,63868.0,6.0,52478.0,18796.0,10774.0,1657.0,NaN,17.272,...,0.88,1.64,NaN,NaN,NaN,NaN,33.100,30.600,3.00,29.010
1959-02-01,2451.778,22.4463,63684.0,5.9,52688.0,18890.0,10816.0,1667.0,NaN,17.452,...,1.11,1.71,NaN,NaN,NaN,NaN,33.200,30.700,3.00,29.000
1959-03-01,2467.594,22.7696,64267.0,5.6,53014.0,19069.0,10873.0,1620.0,NaN,17.617,...,0.81,1.33,NaN,NaN,NaN,NaN,33.200,30.700,2.97,28.970
1959-04-01,2483.671,23.2547,64768.0,5.2,53321.0,19269.0,10905.0,1590.0,NaN,17.553,...,0.76,1.27,NaN,NaN,NaN,NaN,33.200,30.700,2.97,28.980
1959-05-01,2498.026,23.6050,64699.0,5.1,53550.0,19378.0,10949.0,1498.0,NaN,17.765,...,1.06,1.47,NaN,NaN,NaN,NaN,33.300,30.900,2.97,29.040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-01,17704.448,102.1867,157174.0,4.0,149744.0,20723.0,28351.0,1666.0,1841.0,125.521,...,0.47,2.85,107.6318,0.9191,1.2622,1.3555,235.756,254.038,NaN,281.933
2022-02-01,17724.106,103.0174,157722.0,3.8,150458.0,20837.0,28562.0,1777.0,1857.0,125.552,...,0.92,3.17,107.8260,0.9228,1.2711,1.3540,241.626,257.960,NaN,284.182
2022-03-01,17665.439,103.7190,158458.0,3.6,150856.0,20922.0,28569.0,1716.0,1879.0,125.880,...,1.14,3.23,109.6905,0.9294,1.2660,1.3168,246.554,263.843,NaN,287.708
2022-04-01,17711.441,105.0890,158105.0,3.6,151292.0,20991.0,28650.0,1810.0,1823.0,126.277,...,1.56,3.43,111.7008,0.9450,1.2628,1.2933,248.506,269.127,NaN,288.663
2022-05-01,17700.922,105.1924,158426.0,3.6,151682.0,21050.0,28651.0,1549.0,1695.0,125.781,...,1.30,3.37,114.4364,0.9804,1.2859,1.2438,252.500,275.312,NaN,291.474

Drop columns which have none/missing values in selected time frame, i.e. 1996 to present.

In [30]:
for col in df.columns.to_list():
    if df['1996-01-01':][col].isnull().any():
        df.drop(col,axis=1,inplace=True)

In [31]:
df=df['1996-01-01':]

In [32]:
import pandas as pd
snprets=pd.read_csv(f'/content/GSPC (1).csv',header=0,index_col=0,parse_dates=True)

In [33]:
snprets.drop(['Open','High','Low','Close','Volume'],1,inplace=True)
snprets.rename(columns={'Adj Close':'SP500'},inplace=True)
snprets

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

                  SP500
Date
1996-01-01   636.020020
1996-02-01   640.429993
1996-03-01   645.500000
1996-04-01   654.169983
1996-05-01   669.119995
...                 ...
2022-02-01  4373.940000
2022-03-01  4530.410000
2022-04-01  4131.930000
2022-05-01  4132.150000
NaT                 NaN

[318 rows x 1 columns]

In [35]:
nasrets=pd.read_csv(f"/content/IXIC.csv",header=0,index_col=0,parse_dates=True)
nasrets.drop(['Open','High','Low','Close','Volume'],1,inplace=True)
nasrets.rename(columns={'Adj Close':'NASDAQ'},inplace=True)

goldbar=pd.read_csv(f"/content/GOLD.csv",index_col=0,parse_dates=True)

goldbar.rename(columns={'Adj Close':'GOLDBAR'},inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [36]:
df=pd.df=pd.concat([df,snprets,nasrets,goldbar],axis=1)

In [37]:
snpdiv=pd.read_csv(f"/content/snpdiv.csv",header=0,index_col=0,parse_dates=True)
snpdiv=snpdiv['1996-01-01':]

PEratio=pd.read_csv(f"/content/sp-500-pe-ratio-price-to-earnings-chart.csv",index_col=0,parse_dates=True)
PEratio=PEratio['1996-01-01':]

regime=pd.read_csv(f"/content/Recession_Periods.csv",index_col=0,parse_dates=True)
regime=regime['01-01-1996':]

In [38]:
df=df['1996-01-01':'2022-06-01']

In [39]:
df=pd.concat([df,regime],axis=1)

In [40]:
df.index = pd.to_datetime(df.index, format="%Y%m").to_period('M')

In [41]:
snpdiv.index = pd.to_datetime(snpdiv.index, format="%Y%m").to_period('M')

In [42]:
df

,RPI,INDPRO,CE16OV,UNRATE,PAYEMS,USGOOD,USTPU,HOUST,PERMIT,DPCERA3M086SBEA,...,EXSZUS,EXCAUS,EXUSUK,WPSFD49207,WPSID61,CPIAUCSL,SP500,NASDAQ,GOLDBAR,Regime
1996-01,8926.676,72.7471,125125.0,5.6,118316.0,23196.0,23947.0,1467.0,1387.0,63.581,...,1.1818,1.3669,1.5288,129.700,125.500,154.700,636.020020,1059.790039,399.5,Normal
1996-02,9001.329,73.7871,125639.0,5.5,118739.0,23280.0,23988.0,1491.0,1420.0,64.069,...,1.1967,1.3752,1.5360,129.700,125.000,155.000,640.429993,1100.050049,404.8,Normal
1996-03,9033.063,73.6749,125862.0,5.5,118993.0,23276.0,24030.0,1424.0,1437.0,64.379,...,1.1959,1.3656,1.5271,130.500,125.300,155.500,645.500000,1101.400024,396.2,Normal
1996-04,9057.059,74.4153,125994.0,5.6,119158.0,23316.0,24043.0,1516.0,1463.0,64.617,...,1.2180,1.3592,1.5160,130.900,125.700,156.100,654.169983,1190.52002,392.9,Normal
1996-05,9096.567,74.9718,126244.0,5.6,119486.0,23358.0,24137.0,1504.0,1457.0,64.701,...,1.2539,1.3693,1.5152,130.900,126.200,156.400,669.119995,1243.430054,391.9,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01,17704.448,102.1867,157174.0,4.0,149744.0,20723.0,28351.0,1666.0,1841.0,125.521,...,0.9191,1.2622,1.3555,235.756,254.038,281.933,4515.550000,"14,239.88","1,816.80",NaN
2022-02,17724.106,103.0174,157722.0,3.8,150458.0,20837.0,28562.0,1777.0,1857.0,125.552,...,0.9228,1.2711,1.3540,241.626,257.960,284.182,4373.940000,"13,751.40","1,856.30",NaN
2022-03,17665.439,103.7190,158458.0,3.6,150856.0,20922.0,28569.0,1716.0,1879.0,125.880,...,0.9294,1.2660,1.3168,246.554,263.843,287.708,4530.410000,"14,220.52","1,947.80",NaN
2022-04,17711.441,105.0890,158105.0,3.6,151292.0,20991.0,28650.0,1810.0,1823.0,126.277,...,0.9450,1.2628,1.2933,248.506,269.127,288.663,4131.930000,"12,334.64","1,933.90",NaN
2022-05,17700.922,105.1924,158426.0,3.6,151682.0,21050.0,28651.0,1549.0,1695.0,125.781,...,0.9804,1.2859,1.2438,252.500,275.312,291.474,4132.150000,"12,081.39","1,848.30",NaN

In [43]:
PEratio['index']=df.index
PEratio.index=PEratio['index']
PEratio=PEratio[' value']
PEratio=pd.DataFrame(PEratio)

In [44]:
df=pd.concat([df,PEratio,snpdiv],1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  """Entry point for launching an IPython kernel.

In [45]:
df=df[:'2022-05']

In [46]:
df.rename(columns={' value':'P/E'},inplace=True)

In [47]:
df=df.drop_duplicates(subset='SP500')

In [48]:
df

,RPI,INDPRO,CE16OV,UNRATE,PAYEMS,USGOOD,USTPU,HOUST,PERMIT,DPCERA3M086SBEA,...,EXUSUK,WPSFD49207,WPSID61,CPIAUCSL,SP500,NASDAQ,GOLDBAR,Regime,P/E,Dividend Yield
1996-01,8926.676,72.7471,125125.0,5.6,118316.0,23196.0,23947.0,1467.0,1387.0,63.581,...,1.5288,129.700,125.500,154.700,636.020020,1059.790039,399.5,Normal,18.6845,2.26
1996-02,9001.329,73.7871,125639.0,5.5,118739.0,23280.0,23988.0,1491.0,1420.0,64.069,...,1.5360,129.700,125.000,155.000,640.429993,1100.050049,404.8,Normal,18.8140,2.16
1996-03,9033.063,73.6749,125862.0,5.5,118993.0,23276.0,24030.0,1424.0,1437.0,64.379,...,1.5271,130.500,125.300,155.500,645.500000,1101.400024,396.2,Normal,18.9630,2.18
1996-04,9057.059,74.4153,125994.0,5.6,119158.0,23316.0,24043.0,1516.0,1463.0,64.617,...,1.5160,130.900,125.700,156.100,654.169983,1190.52002,392.9,Normal,18.7388,2.19
1996-05,9096.567,74.9718,126244.0,5.6,119486.0,23358.0,24137.0,1504.0,1457.0,64.701,...,1.5152,130.900,126.200,156.400,669.119995,1243.430054,391.9,Normal,19.1670,2.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01,17704.448,102.1867,157174.0,4.0,149744.0,20723.0,28351.0,1666.0,1841.0,125.521,...,1.3555,235.756,254.038,281.933,4515.550000,"14,239.88","1,816.80",NaN,23.1200,1.33
2022-02,17724.106,103.0174,157722.0,3.8,150458.0,20837.0,28562.0,1777.0,1857.0,125.552,...,1.3540,241.626,257.960,284.182,4373.940000,"13,751.40","1,856.30",NaN,22.4200,1.39
2022-03,17665.439,103.7190,158458.0,3.6,150856.0,20922.0,28569.0,1716.0,1879.0,125.880,...,1.3168,246.554,263.843,287.708,4530.410000,"14,220.52","1,947.80",NaN,22.1900,1.41
2022-04,17711.441,105.0890,158105.0,3.6,151292.0,20991.0,28650.0,1810.0,1823.0,126.277,...,1.2933,248.506,269.127,288.663,4131.930000,"12,334.64","1,933.90",NaN,22.1900,1.41
2022-05,17700.922,105.1924,158426.0,3.6,151682.0,21050.0,28651.0,1549.0,1695.0,125.781,...,1.2438,252.500,275.312,291.474,4132.150000,"12,081.39","1,848.30",NaN,20.4200,1.53

In [49]:
df.to_csv(rf"./output_macrodata.csv")

In [50]:
macdf=pd.read_csv(r"./output_macrodata.csv",index_col=0,parse_dates=True)